.container {
    width: 80%;
    margin: auto;
}

.full-container {
    width: 95%;
    margin: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.col-md-1 {
    width: 8%;
}

.col-md-2 {
    width: 16%;
}

.col-md-3 {
    width: 25%;
}

.col-md-4 {
    width: 33%;
}

.col-md-5 {
    width: 41%;
}

.col-md-6 {
    width: 50%;
}

.col-md-7 {
    width: 58%;
}

.col-md-8 {
    width: 66%;
}

.col-md-9 {
    width: 74%;
}

.col-md-10 {
    width: 83%;
}

.col-md-11 {
    width: 91%;
}


.col-md-12 {
    width: 100%;
}