.pictures img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.pictures .left {
  padding-right: 0.5rem;
}
.pictures .left h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.pictures .right {
  padding-left: 0.5rem;
}
.pictures .right .btn {
  text-align: right;
  margin-bottom: 2rem;
}
.pictures .right .btn button {
  border: none;
  padding: 10px 2rem;
  color: white;
  background-color: teal;
  border-radius: 5px;
  font-size: 18px;
}
.pictures .right .boxtxt {
  min-height: 320px;
  background-color: rgb(181, 172, 172);
  font-size: 1.3rem;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  align-items: center;
}
.pictures .right .boxtxt p:nth-child(2) {
  margin: 4rem 0;
  text-decoration: underline;
}